<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_CollectionService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8877/test" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_CollectionService"
                contract="CollectionService" name="BasicHttpBinding_CollectionService" />
        </client>
    </system.serviceModel>
	<system.diagnostics>
		<sources>
			<source name="System.ServiceModel.MessageLogging" switchValue="Warning, ActivityTracing">
				<listeners>
					<add name="ServiceModelTraceListener" />
				</listeners>
			</source>
			<source name="System.ServiceModel" switchValue="Verbose,ActivityTracing">
				<listeners>
					<add name="ServiceModelTraceListener" />
				</listeners>
			</source>
			<source name="System.Runtime.Serialization" switchValue="Verbose,ActivityTracing">
				<listeners>
					<add name="ServiceModelTraceListener" />
				</listeners>
			</source>
		</sources>
		<sharedListeners>
			<add initializeData="c:\del\AppClient_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelTraceListener" traceOutputOptions="Timestamp" />
		</sharedListeners>
	</system.diagnostics>

</configuration>